@import "fonts.css";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", sans-serif;
    min-height: 100vh;
    background-color: #e9e9e9;
}